#!/usr/bin/make -f
export DH_VERBOSE = 1
%:
	dh $@ --buildsystem=cmake

BUILD_TYPE = Release
ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
  BUILD_TYPE = Debug
endif

GRAMMARS = c lua markdown markdown_inline query vim vimdoc
PARSERS := $(addprefix debian/parser/, $(addsuffix .so, $(GRAMMARS)))

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=$(BUILD_TYPE) -DUSE_BUNDLED_BUSTED=OFF

override_dh_auto_build: $(PARSERS)
	dh_auto_build

debian/parser/%.so:
	@echo "-- Generating parser for $*"
	@mkdir -p debian/parser
	$(CC) -shared -o $@ -Wl,--whole-archive $(shell pkgconf --variable=libdir tree-sitter-$(subst _,-,$*))/libtree-sitter-$(subst _,-,$*).a -Wl,--no-whole-archive

override_dh_auto_test:
	# TODO

override_dh_auto_clean:
	rm -r debian/parser || true
	dh_auto_clean
